.form-login {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  padding: 26px 19px 26px;
  margin: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */












